black>=21.8b0
isort>=5.9.3
jupyterlab>=3.1.10
jupyterlab-code-formatter>=1.4.10
jupyterlab-vim>=0.14.2
matplotlib>=3.4.3
numpy>=1.21.2
smac>=1.0.1
torch>=1.9.0+cu111
torchvision>=0.10.0+cu111
tqdm>=4.62.2
